* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    overflow: hidden;
}

body {
    background-color: #ae9cea;
    font-size: 1.6rem;
}

.wrapper {
    margin: 0 auto;
    padding: 3vh 1rem 1rem 1rem;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.slider {
    max-width: 91rem;
    max-height: 58rem;
    padding-top: 5vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

input {
    display: none;
}

.slides {
    width: 500%;
    min-height: 70%;
    display: flex;
    transition: all .6s ease;
    display: flex;
    align-items: center;
}

.overlay {
    min-width: 20%;
    max-height: 87%;
    display: flex;
    justify-content: center;
}

.slide {
    min-width: 20%;
    object-fit: contain;
}


.slider__bottom-panel {
    padding-top: 3rem;
    display: flex;
    height: 8rem;
    justify-content: space-between;
}

.bottom-panel__navigation {
    background-color: #ffffff;
    border-radius: 50px 50px;
    min-width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-panel__description {
    background-color: #ffffff;
    border-radius: 50px 50px;
    max-width: 37rem;
    overflow: hidden;
    display: flex;
    transition: all .6s ease;
    align-items: center;
}

.description__strings {
    width: 500%;
    display: flex;
    transition: all .4s;
}

.string {
    max-width: 20%;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 3rem;
    white-space: nowrap;
    margin-left: 1rem;
    margin-right: 30%;
}

.navigation-bar {
    background-color: #000000;
    opacity: .7;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: .5rem;
    border: 7px solid #ffffff;
    border-radius: 50%;
    transition: all .4s ease;
}

.navigation-bar:last-child {
    margin-right: 0;
}

.navigation-bar:hover {
    opacity: 1;
    cursor: pointer;
}

#radio_nav-1:checked ~ .slides {
    transform: translateX(0);
}

#radio_nav-2:checked ~ .slides {
    transform: translateX(-20%);
}

#radio_nav-3:checked ~ .slides {
    transform: translateX(-40%);
}

#radio_nav-4:checked ~ .slides {
    transform: translateX(-60%);
}

#radio_nav-5:checked ~ .slides {
    transform: translateX(-80%);
}

#radio_nav-1:checked ~ .slider__bottom-panel > .bottom-panel__description > .description__strings {
    transform: translateX(0);
}

#radio_nav-2:checked ~ .slider__bottom-panel > .bottom-panel__description > .description__strings {
    transform: translateX(-46.4%);
}

#radio_nav-3:checked ~ .slider__bottom-panel > .bottom-panel__description > .description__strings {
    transform: translateX(-97.1%);
}

#radio_nav-4:checked ~ .slider__bottom-panel > .bottom-panel__description > .description__strings {
    transform: translateX(-147.6%);
}

#radio_nav-5:checked ~ .slider__bottom-panel > .bottom-panel__description > .description__strings {
    transform: translateX(-190.6%);
}

@media (max-width: 550px) {

    .slider__bottom-panel {
        padding-top: 1rem;
        display: flex;
        min-width: 100%;
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .bottom-panel__navigation {
        width: 15rem;
        margin: 0 auto;
    }
    
    .bottom-panel__description {
        width: 21rem;
    }

    .string {
        font-size: 1.6rem;
    }
}